
@{
    ViewBag.Title = "WorksPage";
}

<section class="site-section pb-0 portfolio-single" id="next-section">

    <div class="container">

        <div class="row mb-5 mt-5">

            <div class="col-lg-8">
                <figure>
                    <a href="~/Assets/images/sq_img_6.jpg" data-fancybox="gallery"><img src="~/Assets/images/sq_img_6.jpg" alt="Image" class="img-fluid"></a>
                </figure>
                <figure>
                    <a href="~/Assets/images/sq_img_2.jpg" data-fancybox="gallery"><img src="~/Assets/images/sq_img_2.jpg" alt="Image" class="img-fluid"></a>
                </figure>
                <figure>
                    <a href="~/Assets/images/sq_img_7.jpg" data-fancybox="gallery"><img src="~/Assets/images/sq_img_7.jpg" alt="Image" class="img-fluid"></a>
                </figure>
                <figure class="mb-0">
                    <a href="~/Assets/images/sq_img_8.jpg" data-fancybox="gallery"><img src="~/Assets/images/sq_img_8.jpg" alt="Image" class="img-fluid"></a>
                </figure>
            </div>

            <div class="col-lg-4 ml-auto h-100 jm-sticky-top">

                <div class="mb-4">
                    <h3 class="mb-4 h4 border-bottom">作品詳情</h3>

                    <p class="mb-0">政府補助案A+企業創新研發淬鍊計畫Nostrum iure atque enim quisquam minima distinctio omnis consequatur aliquam suscipit quidem esse aspernatur Libero excepturi animi repellendus porro impedit</p>
                </div>

                <div class="row mb-4">

                    <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                        <strong class="d-block text-black">客戶</strong>
                        Google, Inc.
                    </div>
                    <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                        <strong class="d-block text-black">職責</strong>
                        Design, Front-End and Back-End (WordPress)
                    </div>
                    <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                        <strong class="d-block text-black">作品年份</strong>
                        2019
                    </div>
                    <div class="col-sm-12 col-md-12 mb-4 col-lg-12">
                        <strong class="d-block text-black mb-3">網站連結/Website URL</strong>
                        <a href="#" class="btn btn-outline-primary border-width-2">前往網站/Visit Website</a>
                    </div>
                </div>

                <div class="block__87154 mb-0">

                    <blockquote>

                        <div class="block__91147 d-flex align-items-center">
                            <figure class="mr-4"><img src="~/Assets/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                            <div>
                                <h3>筑筑</h3>
                                <span class="designerType">接案身分: 工作室</span>
                                <!-- <span class="position">Web Designer</span> -->
                            </div>
                        </div>

                        <p class="designerSkill">
                            <span class="designerSkillTit">專長:</span>
                            <a href="/talent?ca=dRL&amp;su=BJeM" target="_blank" title="EDM設計"># EDM設計</a>
                            <a href="/talent?ca=dRL&amp;su=My0G" target="_blank" title="廣告Banner"># 廣告Banner</a>
                            <a href="/talent?ca=L35&amp;su=ao6p" target="_blank" title="影片/音效後製剪輯"># 影片/音效後製剪輯</a>
                        </p>
                        <div class="contactp">
                            <p><a href="#" class="btn btn-primary btn-md">回到工作室</a></p>
                        </div>
                </div>
                </blockquote>

            </div>

        </div>
    </div>




    </div>
</section>
<section class=" py-3 site-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-outline-primary border-width-2 d-block">Previous Project</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-primary border-width-2 d-block">All Projects</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-md btn-outline-primary border-width-2 d-block">Next Project</a>
            </div>
        </div>
    </div>
</section>

@section topCSS{
    <style>
        .designerSkill a {
            font-size: 15px;
        }

        .designerSkillTit {
            font-size: 15px;
        }

    </style>

}

