
@{
    ViewBag.Title = "AcountSetting";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
    var check = false;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="myContainer">
        @if (check)
        {
            <h5>銀行帳戶設定</h5>
            <hr>
            <div class="card-body">
                <form method="POST" action="">

                    <div class="form-item">
                        <label for="bank_number" id="" class="">銀行代碼</label>
                        <div class="col-md-6">
                            <input id="bank_number" type="text" class="form-item" name="bank_number"
                                   value="" autofocus required>
                        </div>
                        <div id="bank_numberInfo"></div>
                    </div>

                    <div class="form-item">
                        <label for="account_number" id="" class="">帳戶號碼</label>
                        <div class="col-md-6">
                            <input id="account_number" type="text" class="form-item" name="account_number"
                                   value="" autofocus required>
                        </div>
                        <div id="account_numberInfo"></div>
                    </div>

                    <div class="form-item">
                        <div class="col-md-6">
                            <button type="submit" id="submit" class="btn btn-primary btn-group-sm">
                                確定送出
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        }
        else
        {
    <div class="col-12 mt-5 mb-4">
        <h5>銀行帳號</h5>
        <hr>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>銀行代碼</th>
                    <th>帳戶號碼</th>
                    @*<th>是否修改</th>*@

                </tr>
            </thead>
            <tbody id="Savecase">
                @*@foreach (var item in Model)*@
                @*{*@
                <tr>
                    <td class="text-center">806</td>
                    <td class="text-center">095872435476</td>
                    @*<td class="text-center"><button class="text-center btn btn-primary" >修改</button></td>*@

                </tr>
                @*}*@
            </tbody>

        </table>
    </div>
            <div class="text-center mb-5">
                <button id="btnClear" class="btn btn-primary text-right">修改</button>
            </div>

        }
    </div>
    

</body>
</html>

@section topCSS{
    <link href="~/Assets/css/quill.snow.css" rel="stylesheet" />
    <style>

        h5 {
            color: #89ba16;
            font-weight: 900;
            padding: 0 15px;
        }

        .myContainer {
            @*max-width: 510px;
            *@ margin: auto;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            padding: 25px;
        }

        label {
            font-weight: 700;
        }

        .form-item{
            margin-bottom:20px;
        }


    </style>
}
@section endJS{
    <script type="text/javascript">

      
        // 帳戶號碼 輸入驗證  規則 = /^[0-9\s]*$/  僅限輸入 阿拉伯數字
        $("#account_number").on('focus', function () {
            $("#account_numberInfo").removeClass("alert-warning alert-ok").hide();
        })
        $("#account_number").on('blur', function () {
            var account_number = this.value;
            var reg = /^[0-9\s]*$/;
            if (account_number !== '') {
                if (!reg.test(account_number)) {
                    $("#account_numberInfo").addClass("alert-warning").show().html("格式是 僅限輸入 阿拉伯數字&nbsp;才能通過");
                    return;
                }
            }
        })
         // 銀行號碼 輸入驗證  規則 = /^[0-9\s]*$/  僅限輸入 阿拉伯數字
        $("#bank_number").on('focus', function () {
            $("#bank_numberInfo").removeClass("alert-warning alert-ok").hide();
        })

        $("#bank_number").on('blur', function () {
            var bank_number = this.value;
            var reg = /^[0-9\s]*$/;
            if (bank_number !== '') {
                if (!reg.test(bank_number)) {
                    $("#bank_numberInfo").addClass("alert-warning").show().html("格式是 僅限輸入 阿拉伯數字&nbsp;才能通過");
                    return;
                }
            }
        })

    </script>




}


