@model PRO_finder.ViewModels.TalentIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberTalent.cshtml";
}

<div class="talentContent myTabContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3 text-center">
                <div class="card main-info">
                    <div class="card-body">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col col-md-4 talent-img-div">
                                    <img class="talent-img"
                                         src="https://image.flaticon.com/icons/png/512/3048/3048122.png" alt="">
                                </div>
                                <div class="info-details col-md-8 col-12">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-5 details">
                                                @*<p>@Model.Balance</p>*@
                                                <p>100,000</p>
                                                <p>帳戶餘額</p>
                                            </div>
                                            <div class="col-5 details">
                                                <p>73</p>
                                                <p>待回復訊息</p>
                                            </div>
                                            <div class="col-5 details">
                                                <p>35,000</p>
                                                <p>等待案主付款</p>
                                            </div>
                                            <div class="col-5 details">
                                                <p>8</p>
                                                <p>邀請報價通知</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card mainMessage">
                    <h5 class="card-header" style="font-size: 16px;">重要訊息通知</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">資料完整度</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">邀請報價記錄</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">網站公告</h5>
                    <div class="card-body">
                        @*@foreach(var item in Model.ContentList)
                        {
                            <p>@item</p>
                        }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section TopCSS{

    <style>
        


        .myTabContent .card-header {
            color: black;
            font-size: 12px !important;
        }

        .myTabContent .card-body {
            width: 100%;
            min-height: 80px;
            color: rgba(0, 0, 0, 0.3);
        }

        .myTabContent .main-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .myTabContent img.talent-img {
            width: 50px;
            height: 50px;
            margin: auto;
        }

        

        .info-details .details {
            color: black;
            background-color: rgba(0, 0, 0, 0.125);
            border-radius: 5px;
            margin: 0px 5px 5px 0px;
            padding: 0;
        }

        .info-details p {
            margin-bottom: 0px;
        }

            .info-details p:first-child {
                font-size: 16px;
            }

            .info-details p:nth-child(2) {
                font-size: 8px !important;
            }

        @@media screen and (min-width: 768px) {

            .info-details .details {
                color: black;
                background-color: rgba(0, 0, 0, 0.02);
                border-radius: 5px;
                margin: 0px 5px 5px 0px;
                padding: 0;
            }

            .info-details p {
                margin-bottom: 0px;
            }

                .info-details p:first-child {
                    font-size: 18px !important;
                }

                .info-details p:nth-child(2) {
                    font-size: 8px !important;
                }

            img.talent-img {
                width: 100px !important;
                height: 100px !important;
                margin: auto;
            }

            .myTabContent .card-header {
                color: black;
                font-size: 16px !important;
            }
        }
    </style>

}



