@model PRO_finder.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼";
}





<div class="py-5 row justify-content-center text-center">
    <div class="col-md-4 col-12">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {



            @Html.AntiForgeryToken()
            <h4 class="text-center font-weight-bolder">忘記密碼</h4>
         
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10 col-8 mx-auto">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = " 請輸入您的電子郵件" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mx-auto">
                    <input type="submit" class="btn py-2 px-4 btn-success text-white" value="以電子郵件傳送連結" />
                </div>
            </div>
        }

    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
