@model PaymentResultViewModel
@{
    ViewBag.Title = "ECPaymentResultPage";
}
<div class="container">
    <div class="myContainer text-center my-5 p-4">
        @if (Model.Result == true)
        {
            <h4 class="text-primary text-center w-100 result">@Model.ResultMsg</h4>
            <img src="https://image.flaticon.com/icons/png/512/594/594852.png" class="result"/>
        }
        else
        {
            <h4 class="text-danger text-center w-100 result">@Model.ResultMsg</h4>
            <img src="https://image.flaticon.com/icons/png/512/594/594864.png" class="result"/>
        }
    <a href="@Url.Action(Model.ReturnPageUrl,"Client")" class="result"><p class="btn btn-primary">查看【@Model.ReturnPageTitle 】</p></a>
    </div>
</div>
@section TopCSS
    {
    <style>
        h4.result{
            height: 50px;
            line-height:50px;
        }
        img.result{
            width: 150px;
            margin: auto;
            display:block;
        }
        a.result{
            display: block;
            margin-top: 50px;
        }
        .myContainer {
             max-width: 510px; 
            margin: auto;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            padding: 30px;
        }
    </style>
}