
@{
    ViewBag.Title = "Index";
}
<h2>您購物車中的項目</h2>
<div class="container">
    <div class="most__search__tab mb-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link tab active" data-toggle="tab" href="#tabs-1" role="tab">
                    案主
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab" data-toggle="tab" href="#tabs-2" role="tab">
                    人才
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="tabs-contents" id="cart">
    <section class="cart_area section_padding tab-c active" id="tabs-1">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">產品</th>
                                <th scope="col">名稱</th>
                                <th scope="col">工作室名稱</th>
                                <th scope="col">數量</th>
                                <th scope="col">金額</th>
                                <th scope="col">移除</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in cartsProduct">
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <img class="img-thumbnail"  :src="item.productImg" alt=""/>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <p>{{ item.productName }}</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p>{{ item.studioName }}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <button class="minuscount" v-on:click="changeCountMinus(index)">–</button>
                                        <span class="count">{{ item.Amount }}</span>
                                        <button class="pluscount" v-on:click="changeCountPlus(index)">+</button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p>{{ item.Price }}<span>/件</span></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="delete">
                                        <i class="far fa-trash-alt"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mb-5 checkout">
                        <p>商品金額：<span>{{ cartTotal }}</span></p>
                        <button class="checkoutbtn">結帳</button>
                    </div>
                </div>
            </div>

            <div class="talentCart">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">人才影像</th>
                                <th scope="col">人才資訊</th>
                                <th scope="col">報價資訊</th>
                                @*<th scope="col"></th>*@

                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in cartsProduct">
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <img class="img-thumbnail" :src="item.productImg" alt="" />
                                    </div>
                                </td>
                                <td>
                                    <div class="text-left">
                                        <p><span class="text-primary"> 涂小姐</span></p>
                                        <p>提案日期 : <span > 2021-08-03</span></p>
                                        <p>成交 : <span > 3 筆 ( 1 筆好評)</span></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-left QTInfo">
                                        <p>報價金額 : <span> $5000元</span> </p>
                                        <p>預估天數 : <span> 7天內完成</span> </p>
                                        <p>報價信息 : <span>  您好 , 以上是我針對您需求提出的報價與執行時間 , 希望能有接案的機會 , 謝謝 !</span></p>
                                    </div>
                                    <div class="RefuseOrChoose text-right">
                                        <button class="refusebtn btn btn-outline-primary">婉拒報價</button>
                                        <button class="choosebtn btn btn-primary">完成訂單</button>
                                    </div>
                                </td>
                                @*<td>
                                    
                                </td>*@
                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mb-5 checkout">
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section topCSS{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans TC', sans-serif;
        }

        h2 {
            margin: 30px 0 30px 40px;
            font-size: 26px;
        }

        .table thead th {
            border-bottom: 1px solid #f0eded !important;
        }

        .table th {
            border-top: none !important;
            color: #524545;
        }

        .table td {
            border-top: 1px solid #f0eded !important;
            display: table-cell;
            vertical-align: middle !important;
            border-bottom: 1px solid #f0eded !important;
            color: #000;
        }


        tr {
            color: rgb(170, 165, 165);
            text-align: center;
        }


        .product_count,
        .delete {
            margin-top: -13px;
        }

        .minuscount,
        .pluscount {
            background-color: transparent;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid rgb(165, 163, 163);
            font-size: 13px;
        }

            .minuscount:hover,
            .pluscount:hover {
                background-color: rgb(187, 186, 183);
            }

            .minuscount:focus,
            .pluscount:focus,
            .checkoutbtn:focus {
                outline: none;
            }

        .count {
            margin: 0 10px 0 10px;
            font-size: 20px;
        }

        img {
            width: 150px;
            height: 150px;
        }

        .checkout p {
            font-size: 23px;
        }

        .checkoutbtn {
            display: block;
            width: 150px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            padding: 8px;
            margin-left: auto;
        }

        .most__search__tab ul {
            display: flex;
            justify-content: flex-end;
        }

        .nav-tabs {
            border-bottom: none !important;
        }

        /*----.talentCart---*/
        .talentCart p {
            color: #524545;
        }
        .talentCart span {
            color: black;
        }
        .talentCart{
            margin: 50px 0px
        }
        .QTInfo{
            padding-top:43px
        }
        .RefuseOrChoose{
            padding-bottom:5px
        }
    </style>
}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>

        let cart = new Vue({
            el: '#cart',
            data: {
                cartsProduct: [
                    { productImg: '/Assets/images/sq_img_5.jpg', productName: '織品服裝設計', studioName: 'Q點設計', Amount:0, Price: 1200 },
                    { productImg: '/Assets/images/sq_img_1.jpg', productName: '織品服裝設計', studioName: 'Q點設計', Amount:0, Price: 2200 },
                    { productImg: '/Assets/images/sq_img_2.jpg', productName: '織品服裝設計', studioName: 'Q點設計', Amount:0, Price: 5000 }
                ],
                

            },
            methods: {
                changeCountPlus(index) {
                    this.cartsProduct[index].Amount++;
                },
                changeCountMinus(index) {
                    if (this.cartsProduct[index].Amount != 0) {
                        this.cartsProduct[index].Amount--;
                    }
                }
            },
            computed: {
                cartTotal() {
                    let temp = this.cartsProduct.map(x => x.Price * x.Amount).reduce((a, b) => a + b)
                    return temp.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 })
                    console.log(this.cartsProduct)
                }
            }

        })
    </script>

}

