
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberClient.cshtml";
}

<div class="myTabContent clientTab">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">訊息與帳戶明細</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card mainMessage">
                    <h5 class="card-header" style="font-size: 16px;">重要訊息通知</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card ">
                    <h5 class="card-header" style="font-size: 16px;">刊登中案件</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">網站公告</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 text-center">
                <div class="card">
                    <h5 class="card-header" style="font-size: 16px;">最近查詢人才條件</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section TopCSS{
    <style>
        

        .myTabContent .card-header {
            color: black;
            font-size: 12px !important;
        }

        .myTabContent .card-body {
            width: 100%;
            min-height: 80px;
            color: rgba(0, 0, 0, 0.3);
        }

        .myTabContent .main-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        @@media screen and (min-width: 768px) {

            .myTabContent .card-header {
                color: black;
                font-size: 16px !important;
            }
        }
    </style>
}
