
@{
    ViewBag.Title = "OrderinProgress";
    Layout = "~/Views/Shared/_LayoutMemberClient.cshtml";
}
<div id="Order">
    <div class="table-responsive p-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class=" ">產品</th>
                    <th scope="col" class=" ">訂單成立日期</th>
                    <th scope="col" class=" m-0">案件標題</th>
                    <th scope="col" class=" m-0">訂單金額</th>
                    <th scope="col" class=" m-0">訂單狀態</th>
                    <th scope="col" class=" m-0 ">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in OrderList">
                    <td>
                        <div class="d-flex justify-content-center">
                            <img class="img-thumbnail" :src="item.QuotationImg" alt="" />
                        </div>
                    </td>
                    <td>
                        <p class="mb-0">{{item.OrderSetupDay}}</p>

                    </td>

                    <td>

                        <p class="mb-0">{{item.ProposerQuotationTitle}}</p>

                    </td>
                    <td>

                        <p class="mb-0">{{item.Price * item.Count}}</p>

                    </td>
                    <td>
                        <div class="OrderStatus">

                            <div class="OrderStatus text-danger">{{item.OrderStatus}}</div>
                            <a href="" class="font-weight-bolder" v-on:click.prevent="payment(index)">
                                [付款去]
                            </a>

                        </div>
                    </td>
                    <td>
                        <a v-on:click.prevent="clickModal(index)">
                            <i class="fas fa-edit"></i>
                        </a>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog-scrollable modal-lg modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">查看訂單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row pb-3 ">
                        <div class="col-12  px-2 mb-3 border-bottom">

                            <h5 class="border-bottom text-black">訂單明細</h5>
                            <p class="mb-0">訂購服務名稱:<a :href="QuotationLink">{{modal.ProposerQuotationTitle}}</a></p>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">訂購數量: {{ modal.Count }} / {{ modal.Unit }}</p>
                                <span class="mb-0 mr-1">訂購單價: {{ modal.Price }} / {{ modal.Unit }} </span>
                                <span class="mb-0 font-weight-bolder">訂購總金額:NTD {{ modal.Price * modal.Count }} </span>
                            </div>
                            <p class="mb-0 text-danger">
                                訂單狀態：{{modal.OrderStatus}}
                            </p>
                            <div class=" d-flex justify-content-between">
                                <p class="mb-0">
                                    備註:{{Memo}}
                                </p>
                                <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    編輯
                                </a>
                            </div>

                            <div class="collapse" id="collapseExample">
                                <textarea class=" w-100" v-model="Memo"></textarea>
                                <a href="#" class=" btn btn-success text-white w-100" v-on:click.prevent="AddNewMemo">提交</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <h5 class="border-bottom text-black">訂購人資訊</h5>
                            <p class="mb-0">
                                訂購人姓名：<br />
                                {{modal.Name}}
                            </p>
                            <p class="mb-0">
                                訂購人信箱：<br />
                                <a :href="email">{{modal.Email}}</a>
                            </p>
                            <p class="mb-0">
                                訂購人LineID：<br />
                                <a :href="Line">{{modal.LineID}}</a>
                            </p>
                            <p class="mb-0">
                                訂購人電話：<br />
                                <a :href="Phone">{{modal.Tel}}</a>
                            </p>
                            <p class="mb-0">
                                可聯繫時段：<br />
                                <span>{{ Contacttostring }}</span>
                            </p>


                        </div>
                        <div class="col-6">
                            <h5 class="border-bottom text-black">接案者資訊</h5>
                            <p class="mb-0">
                                接案者名稱：<br />
                                {{modal.StudioName}}   <a :href="StudioHref">[工作室]</a>
                            </p>
                            <p class="mb-0">
                                接案者信箱：<br />
                                <a :href="ProposerEmail">{{modal.ProposerEmail}}</a>
                            </p>
                            <p class="mb-0">
                                接案者手機：<br />
                                <a :href="ProposerCellPhone">{{modal.ProposerCellPhone}}</a>
                            </p>


                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"  v-on:click.prevent="OrderDelete(deleteOrderID)">取消訂單</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>





</div>



<!-- Button trigger modal -->


@section topCSS{
    <style>

        .linediv {
            background: linear-gradient(90deg,#aed8fc,#0587f7 100%);
            border: 1px rgba(0,0,0,.5) solid;
            border-radius: 10px;
            overflow: hidden;
        }

        .line {
            margin-left: auto;
            background-color: white;
            height: 15px;
        }

        .modal-dialog {
            z-index: 1050;
        }

        .modal-backdrop {
            z-index: 300 !important;
            width: 0;
        }

        img {
            width: 150px;
            height: 150px;
        }



        /*
        //cart*/






        .table thead th {
            border-bottom: 1px solid #f0eded !important;
        }

        .table th {
            border-top: none !important;
            color: #524545;
        }

        .table td {
            border-top: 1px solid #f0eded !important;
            display: table-cell;
            vertical-align: middle !important;
            border-bottom: 1px solid #f0eded !important;
            color: #000;
        }


        tr {
            color: rgb(170, 165, 165);
            text-align: center;
        }


        img {
            width: 150px;
            height: 150px;
        }

        .pendingpayment {
            color: white !important;
            background-color: #89ba16 !important;
            border-radius:6px;
            font-weight:bolder;
        }
    </style>
}







@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>




        let app = new Vue({
            el: '#Order',
            data: {
                OrderList: [],
                modal: {},
                email: '',
                Line: '',
                Phone: '',
                ProposerEmail: '',
                ProposerCellPhone: '',
                StudioHref: '',
                Scheduleline: '',
                Remaindays: '',
                Memo: '',
                Contacttostring: '',
                deleteOrderID: '',
                QuotationLink: '',
            },
            methods:
            {
                GetOrder() {
                    axios.get('/api/Order/GetOrder?id=@ViewBag.MemberId&status=0').then(res => {
                        this.OrderList = res.data.Result
                        console.log(this.OrderList)
                    })
                },
                clickModal(index) {
                    this.modal = "";
                    this.modal = this.OrderList[index]
                    this.email = "mailto:" + this.modal.Email
                    this.Line = "line://ti/p/@@" + this.modal.LineID
                    this.Phone = "tel:" + this.modal.Tel
                    this.ProposerEmail = "mailto:" + this.modal.ProposerEmail
                    this.ProposerCellPhone = "tel:" + this.modal.ProposerCellPhone
                    this.StudioHref = "/Quotation/StudioHome?TalentID=" + this.modal.ProposerID
                    this.Scheduleline = 100 - this.modal.Schedule
                    this.Remaindays = this.modal.Remaindays
                    this.Memo = this.modal.Memo
                    this.Contacttostring = this.ChangeContact(this.modal.ContactTime)
                    this.deleteOrderID = this.modal.OrderID
                    this.QuotationLink = "/Quotation/Detail/" + this.modal.ProposerID + "/" + this.modal.QuotationID
                    console.log(this.StudioHref)
                    $('#exampleModal').modal('show')

                },
                ChangeContact(num) {
                    switch (num) {
                        case 0:
                            return "上午 7-12"
                        case 1:
                            return "下午 12-18"
                        case 2:
                            return "晚上 18-22"
                        case 3:
                            return "不限時段"
                        default:
                            return "不限時段"

                    }
                },
                AddNewMemo() {

                    axios.post(`/api/Order/UpdateOrderMemo?Orderid=${this.modal.OrderID}`, { Memo:this.Memo } ).then(res => {
                        if (res.data.Result) {
                            $('#collapseExample').collapse('hide')
                        }

                        this.GetOrder()
                    })
                },
                payment(index) {
                    axios.post(`/api/Order/UpdateOrderPaymentCode?OrderId=${this.OrderList[index].OrderID}`)
                        .then(res => {
                            if (res.data.Status == 0) {
                                window.location.replace(`/Cart/GoToConfirmPayment/${res.data.Result}`);
                            }
                        })
                },
                OrderDelete(deleteOrderID) {
                    Swal.fire({
                        title: '確定要刪除此服務嗎?',
                        text: "您將無法還原此服務!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            let id =@ViewBag.MemberID
                                axios.delete(`/api/Order/DelOrder?MemberId=${id}&OrderId=${deleteOrderID}`).then(res => {
                            if (res.data.Result == true) {
                            Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                                )

                                $('#exampleModal').modal('hide')
                                this.GetOrder();
                            }
                           })
                          }
                        })
                       },

            },
            created() {
                this.GetOrder();
            }
        })

    </script>
}