
     <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">
        <div class="row mb-5">
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>案主專區</h3>
                <ul class="list-unstyled">
                    <li><a href="/Quotation/Index?CategoryId=0">找報價</a></li>
                    <li><a href="#">找人才</a></li>
                    <li><a href="#">如何發案</a></li>
                    <li><a href="#">立即發案</a></li>
                    <li><a href="#">好文章</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>人才專區</h3>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index",new { id = "0"} )">我要接案</a></li>
                    <li><a href="#">找案子</a></li>
                    <li><a href="#">懸賞任務</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>會員服務</h3>
                <ul class="list-unstyled">
                    <li><a href="#">登入/註冊</a></li>
                    <li><a href="@Url.Action("Index","Talent")">我的帳戶</a></li>
                    <li><a href="#">幫助中心</a></li>
                    <li><a href="#">我有建議</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>聯絡我們</h3>
                <div class="footer-social">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-instagram"></span></a>
                    <a href="#"><span class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <p class="copyright">
                    <small>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved  by PRO FINDER
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small>
                </p>
            </div>
        </div>
    </div>
