
@{
    ViewBag.Title = "_QuotationforCasePartial";
}


<div id="inputinfo">
    <button type="button" class="btn btn-primary btn-md btn-block"  data-toggle="modal" data-target="#myModal" id="modalbtn">
        <span  class="far fa-lightbulb mr-2 text-warning"></span>我要報價
    </button>


    <div class="modal fade" id="myModal" data-backdrop="false" style="margin-top:50px">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">報價細節</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="estimatedDays" class="control-label">預估天數:</label>
                            <input v-model="inputData.days" type="number" min="0" class="form-control" id="estimatedDays-name" style="width: 55%;display: inline;"><span>天內完成</span>
                            <div class="text-danger small mt-1">
                                {{ inputDataCheck.daysErrorMsg }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="control-label">價格:</label>
                            <input v-model="inputData.price" type="number" min="0" class="form-control" id="price-name" style="width: 55%;display: inline;"><span>元</span>
                            <div class="text-danger small mt-1">
                                {{ inputDataCheck.priceErrorMsg }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="control-label">訊息Message:</label>
                            <textarea v-model="inputData.message" class="form-control" id="message-text" placeholder="請輸入給案主的訊息"></textarea>
                            <div class="text-danger small mt-1">
                                {{ inputDataCheck.messageErrorMsg }}
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button class="btn btn-primary" v-bind:disabled="!addVerify" type="button" id="report" v-on:click="AddQuotation" data-dismiss="modal">送出報價</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    let inputinfo = new Vue({
        el: '#inputinfo',
        data: {
            inputData: {
                days: '',
                price: '',
                message: '您好 我是XXX 想接您的案子'
            },
            inputDataCheck: {
                daysError: false,
                daysErrorMsg: '',
                priceError: false,
                priceErrorMsg: '',
                messageError: false,
                messageErrorMsg: ''
            },
            addVerify: true,
            caseID: @Html.Raw(ViewBag.caseID)
        },
        watch: {
            'inputData.days': {
                handler: function () {
                    //天數不得空，且必須為數字
                    let daysRegexp = /^[0-9]{1,10}$/
                    if (this.inputData.days == '') {
                        this.inputDataCheck.daysError = true;
                        this.inputDataCheck.daysErrorMsg = '預期天數不得為空';
                    }
                    else if (!daysRegexp.test(this.inputData.days)) {
                        this.inputDataCheck.daysError = true;
                        this.inputDataCheck.daysErrorMsg = '輸入必須為整數';
                    }
                    else {
                        this.inputDataCheck.daysError = false;
                        this.inputDataCheck.daysErrorMsg = '';
                    }
                    this.checkAddVerify();
                }
            },
            'inputData.price': {
                handler: function () {
                    this.inputDataCheck.priceError = false;
                    this.inputDataCheck.priceErrorMsg = '';
                    let priceRegexp = /^[0-9]{1,10}$/


                    if (!priceRegexp.test(this.inputData.price)) {
                        this.inputDataCheck.priceError = true;
                        this.inputDataCheck.priceErrorMsg = '報價必須為整數';
                    }
                    else {
                        this.inputDataCheck.passwordError = false;
                        this.inputDataCheck.passwordErrorMsg = '';
                    }

                    this.checkAddVerify();
                }
            },
            'inputData.message': {
                handler: function () {
                    if (this.inputData.message == '') {
                        this.inputDataCheck.messageError = true;
                        this.inputDataCheck.messageErrorMsg = '訊息不得為空';
                    } else {
                        this.inputDataCheck.messageError = false;
                        this.inputDataCheck.messageErrorMsg = '';
                    }
                    this.checkAddVerify();
                }
            }
        },
        methods: {
            checkAddVerify() {
                for (let prop in this.inputDataCheck) {
                    if (this.inputDataCheck[prop] == true) {
                        this.addVerify = false;
                        return;
                    }
                }
                this.addVerify = true;
            },
            AddQuotation: function (event) {
                let obj = new Object();
                obj['CaseID'] = @ViewBag.caseID;
                obj['PredictDays'] = this.inputData.days;
                obj['ProposeDescription'] = this.inputData.message;
                obj['ProposePrice'] = this.inputData.price;
                fetch('/api/Cart/PostQuotationInfo', { method: 'post', headers: { "Content-Type": "application/json" }, body: JSON.stringify(obj) }).then(res => res.text())

                alert('已提交報價!')

                modalbtn.innerHTML = '已報價';
                modalbtn.disabled = true;

                //this.inputData.days = '',
                //this.inputData.price = '',
                //this.inputData.message = '您好 我是XXX 想接您的案子'
            }
        },
        mounted: function () {
            axios({ method: "post", url: "/api/Cart/IsAddQuotationCart", data: this.caseID, headers: { 'Content-Type': 'application/json; charset=utf-8', 'strict': false } })
                .then(res => {
                    if (res.data.Result) {
                        let modalbtn = document.querySelector("#modalbtn");
                        modalbtn.innerHTML = '已報價';

                            modalbtn.disabled = true;
                    } 
                });
        }
    });
</script>
@*<script>
        let obj = new Object();
        obj['CaseID'] = 1;
        obj['PredictDays'] = inputData.days;
        obj['ProposeDescription'] = inputData.message;
        obj['ProposePrice'] = inputData.price;
        document.querySelector("#report").addEventListener("click", function () {
            fetch('/api/Cart/PostQuotationInfo', { method: 'post', headers: { "Content-Type": "application/json" }, body: JSON.stringify(obj) }).then(res => res.text())

        });

    </script>
    <script>
        export default {
            computed: {
                isDisabled() {
                    return false

                },

            },




        }
    </script>*@






