
@{
    ViewBag.Title = "_QuotationforCasePartial";
}


@*<a class="addCart"> @Html.Partial("_QuotationforCasePartial")</a>*@
@*@Html.Partial("_QuotationforCasePartial")*@


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    我要報價
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">報價細節</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="estimatedDays" class="control-label">預估天數:</label>
                        <input type="number" min="0" class="form-control" id="estimatedDays-name" style="width: 55%;display: inline;"><span>天內完成</span>
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label">價格:</label>
                        <input type="number" min="0" class="form-control" id="price-name" style="width: 55%;display: inline;"><span>元</span>
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label">訊息Message:</label>
                        <textarea class="form-control" id="message-text" placeholder="請輸入要給案主的訊息"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">送出報價</button>
            </div>
        </div>
    </div>
</div>




