
@{
    ViewBag.Title = "_QuotationforCasePartial";
}


@*<a class="addCart"> @Html.Partial("_QuotationforCasePartial")</a>*@
@*@Html.Partial("_QuotationforCasePartial")*@
@*<head>
         Load required Bootstrap and BootstrapVue CSS
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
         Load polyfills to support older browsers
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
                crossorigin="anonymous"></script>
         Load Vue followed by BootstrapVue
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
         Load the following for BootstrapVueIcons support
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    </head>*@

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="modalbtn">
    我要報價
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">報價細節</h4>
            </div>
            <div class="modal-body" id="inputinfo">
                <form>
                    <div class="form-group">
                        <label for="estimatedDays" class="control-label">預估天數:</label>
                        <input v-model="inputData.days" type="number" min="0" class="form-control" id="estimatedDays-name" style="width: 55%;display: inline;"><span>天內完成</span>
                        <div class="text-danger small mt-1">
                            {{ inputDataCheck.daysErrorMsg }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="control-label">價格:</label>
                        <input v-model="inputData.price" type="number" min="0" class="form-control" id="price-name" style="width: 55%;display: inline;"><span>元</span>
                        <div class="text-danger small mt-1">
                            {{ inputDataCheck.priceErrorMsg }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label">訊息Message:</label>
                        <textarea v-model="inputData.message" class="form-control" id="message-text" placeholder="請輸入要給案主的訊息"></textarea>
                        <div class="text-danger small mt-1">
                            {{ inputDataCheck.MessageErrorMsg }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                <button :disabled="!addVerify" type="button" class="btn btn-primary">送出報價</button>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <style>
        #myModal {
            position: fixed;
            z-index: 40000000000;
        }
    </style>

}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    
    </script>
    <script>
        let inputinfo = new Vue({
            el: '#inputinfo',
            data: {
                inputData: {
                    days: '',
                    price: '',
                    message: ''
                },
                inputDataCheck: {
                    daysError: false,
                    daysErrorMsg: '',
                    priceError: false,
                    priceErrorMsg: '',
                    messageError: false,
                    messageErrorMsg: ''
                },
                addVerify: true
            },
            watch: {
                'inputData.days': {
                    immediate: true,
                    handler: function () {
                        //天數不得空，且必須為數字
                        let daysRegexp = /^[0-9]{1,10}$/
                        if (this.inputData.days == '') {
                            this.inputDataCheck.daysError = true;
                            this.inputDataCheck.daysErrorMsg = '預期天數不得為空';
                        }
                        else if (!daysRegexp.test(this.inputData.days)) {
                            this.inputDataCheck.daysError = true;
                            this.inputDataCheck.daysErrorMsg = '輸入必須為數字';
                        }
                        else {
                            this.inputDataCheck.daysError = false;
                            this.inputDataCheck.daysErrorMsg = '';
                        }
                        this.checkAddVerify();
                    }
                },
                'inputData.price': {
                    immediate: true,
                    handler: function () {
                        this.inputDataCheck.priceError = false;
                        this.inputDataCheck.priceErrorMsg = '';
                        let priceRegexp = /^[0-9]{1,10}$/


                        if (!priceRegexp.test(this.inputData.price)) {
                            this.inputDataCheck.priceError = true;
                            this.inputDataCheck.priceErrorMsg = '報價必須為數字';
                        }
                        else {
                            this.inputDataCheck.passwordError = false;
                            this.inputDataCheck.passwordErrorMsg = '';
                        }

                        this.checkAddVerify();
                    }
                },
                'inputData.message': {
                    immediate: false,
                    handler: function () {
                        if (this.inputData.message == '') {
                            this.inputDataCheck.messageError = true;
                            this.inputDataCheck.messageErrorMsg = '訊息不得為空';
                        } else {
                            this.inputDataCheck.messageError = false;
                            this.inputDataCheck.messageErrorMsg = '';
                        }
                        this.checkAddVerify();
                    }
                }
            },
            methods: {
                checkAddVerify() {
                    for (let prop in this.inputDataCheck) {
                        if (this.inputDataCheck[prop] == true) {
                            this.addVerify = false;
                            return;
                        }
                    }
                    this.addVerify = true;
                }
            },
        });
    </script>

}





