@model QuotationViewModel

@{

    <div class="col-lg-4 sidebar pl-lg-5 position-relative">
        <div class="sidebar-box" style="position:sticky;top:155px;z-index:2;">
            <img src="~/Assets/images/person_1.jpg" alt="Image placeholder"
                 class="img-fluid mb-4 w-50 rounded-circle">
            <h3>@Model.NickName</h3>
            <div class="d-flex flex-column">
                <span class="m-2"><span class="icon-briefcase mr-2"></span>接案身分: @Model.Identity</span>
                <span class="m-2">
                    <span class="icon-clock-o mr-2"></span><span class="text-primary">
                        上線時間:@Model.LogInTime
                    </span>
                </span>
                <span class="m-2"><span class="icon-room mr-2"></span>接案地點: @Model.LocationID</span>
                <a class="btn btn-default" data-toggle="collapse" href="#multiCollapseExample1"
                   role="button" aria-expanded="false" aria-controls="multiCollapseExample1">看更多↓</a>
            </div>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="body">
                    <label class="readMoreBtn" for="workroomInfoReadMore"></label>
                    <p class="designerDeal">
                        成交件數:@Model.QuotationReview.Count()
                    </p>
                    <p class="designerInvited">受邀次數: {{11}}</p>
                    <p class="designerSkill">
                        <span class="designerSkillTit">專長:</span>
                        <a href=""># @Model.SubcategoryName</a>
                    </p>
                    <div class="author-social mb-4">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="workroomMainBtn">
                <div class="row my-3">
                    <div class="col-12 d-flex">
                        <a id="saveStaff" type="button" href="#" class="btn btn-light btn-md m-auto text-nowrap">
                            <span class="icon-heart-o mr-2 text-danger"></span>收藏
                        </a>
                        <a id="contactStaff" type="button" href="#" class="btn btn-primary btn-md m-auto text-nowrap">
                            <span class="fas fa-phone-alt mr-2"></span>直接聯絡
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <script>
        const saveStaffBtn = document.getElementById('saveStaff');
        const contactStaffBtn = document.getElementById('contactStaff');

        function SaveStaff() {

            //存我的最愛<人才>資料
        }


        function ShowStaffContact(e) {
            //顯示訊息視窗

            //存訊息<案主聯絡人才>資料
        }

        window.onload = function () {
            saveStaffBtn.addEventListener('click', SaveStaff);
            contactStaffBtn.addEventListener('click', ShowStaffContact);
        }

    </script>
    